<div class="panel panel-primary">
  <div class="panel-heading">Ventas de: {{usuario.nombre}} {{usuario.apellido}}</div>
  <div class="panel-body">
    <p>Venta de hoy : {{totalDia}}</p>
	<br></br>
	<p>Venta del mes : {{totalMes}}</p>
	<br></br>
	<p>Venta del año : {{totalAno}}</p>
  </div>
   <div class="panel-heading">Ventas de todos los usuarios</div>
  <div class="panel-body">
    <p>Venta de hoy : {{totalesDia}}</p>
	<br></br>
	<p>Venta del mes : {{totalesMes}}</p>
	<br></br>
	<p>Venta del año : {{totalesAno}}</p>
  </div>
      <div class="row">
        <div class="col-md-2">
            <p class="input-group">
              <input type="text" class="form-control" ng-click="open1()" uib-datepicker-popup="{{format}}" ng-model="dt1" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-md-2">
            <p class="input-group">
              <input type="text" class="form-control" ng-click="open2()" uib-datepicker-popup="{{format}}" ng-model="dt2" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" current-text="Hoy" clear-text="Limpiar" close-text="Cerrar" alt-input-formats="altInputFormats"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
		<button type="button" class="btn btn-success" ng-click="calcularVentaFecha()">Calcular Venta</button>
		<p>Venta del entre las fechas : {{totalesFecha}}</p>
    </div>
</div>